<h1>Searching for recipes with "<%= @search_term %>"</h1>

<% if @recipes.nil? or @recipes.empty?%>

<p>No recipes found with relevant information... Sorry</p>

<% else %>

<table border="1">
  <tr>
    <th>Thumbnail</th>
    <th>Title</th>
    <th>Social Rank</th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr class=<%= cycle('even', 'odd') %>>
      <td><%= link_to(image_tag(recipe["image_url"], width: 100, height: 100), recipe["image_url"]) %></td>
      <td><%= link_to(sanitize(recipe["title"]), recipe["f2f_url"]) %></td>
      <td><%= recipe["social_rank"] %></td>
    </tr>
  <% end %>
</table>

<% end %>

<p>Powered By Food2Fork.com</p>